.heading{
    width:100%;
    margin:0;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

#ankor{
    font-size:30px;
    font-family: 'Montserrat', sans-serif;
    background-color:goldenrod;
    color:darkslategrey;
    border-color:darkslategrey;
    border-radius: 8px;
}

body{
    background-size:cover;
    text-align:center;

}

#copyfooter{
    width:100%;
    background-color:goldenrod;
    font-family: 'Montserrat', sans-serif;
    color:darkslategrey;
    bottom:0;
    position:fixed;
    font-size:20px;
}